<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecMap</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>TecMap</h1>
        <p>Mapa y localización de espacios del Tecnológico</p>
    </header>

    <main>
        <h2>Bienvenido a TecMap</h2>

        <p>
            Consulta el mapa del tecnológico y encuentra rápidamente
            salones, laboratorios, oficinas y otros espacios.
        </p>

        <button>Ver mapa</button>
    </main>

    <footer>
        <p>TecMap - Proyecto de Ingeniería de Software</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>